{% extends 'userheader.html' %}
{% block content %}
<html>
    <head>
        <title>user form</title>
</head>
<body>
    <center>
    <h1>edit users</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        {{logform.as_p}}
    <button type="submit">submit</button></form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                   <li>{{message}}</li>
                {% endfor %}
                </ul>
        {% endif%}
    </center>
</body>
</html>
{% endblock %}